<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">特点</h2>
                    <h3 class="section-subheading text-muted">清华大学新雅书院2022寒假写生实践</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">多学科</h4>
                    <p class="text-muted">成员囊括建院、美院、计算机、数学、医学、CDIE和PPE专业等多个专业，在每日交流中互相分享专业知识，共同促进对美的理解与感知。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">多形式</h4>
                    <p class="text-muted">写生过程中没有技术障碍，创作不限技法，不限流派，不限创作方式。作品包括摄影、水彩、油画棒、线描等多种表达形式。美术学院李睦老师远程提供指导。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">多收获</h4>
                    <p class="text-muted">整理实践历程、感想与收获，制作微信推送；搭建网站，设立小型展览，设计文创产品，线上线下结合，充分展示实践成果；完成实践报告，反思实践过程。</p>
                </div>
            </div>
        </div>
    </section>