<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">实践成果</h2>
                    <h3 class="section-subheading text-muted">除了同学们的作品外，我们还有如下成果。</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        实践支队收获了来自新雅书院、指导老师、辅导员等多方的肯定，计划在未来继续开展系列活动，可能前往祁连山、敦煌、青藏高原等地，进一步发扬美育、让更多同学体会艺术的乐趣。欢迎加入。
                    </p>
                    <p class="large text-muted">
                        敬请期待。
                    </p>
                </div>
            </div>
        </div>
    </section>